@use "~/ui/mixins.scss";

.brand {
  visibility: hidden;

  @include mixins.screen(sm) {
    & {
      visibility: visible;
    }
  }
}

.logo {
  background-color: var(--color-white);
  border-radius: var(--radii-full);
  height: var(--space-10);
  padding: var(--space-0\.5);
  width: var(--space-10);

  & img {
    border-radius: var(--radii-full);
    height: var(--space-9);
    object-fit: contain;
    width: var(--space-9);
  }
}

.navigation-outer {
  backdrop-filter: blur(var(--blur-xl));
  background-image: linear-gradient(
    to bottom,
    rgb(0 0 0 / 100%),
    rgb(0 0 0 / 0%)
  );
  border-bottom: 1px solid var(--color-border);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: var(--z-index-30);
}

.navigation-inner {
  height: var(--space-16);
}
