@use "../mixins.scss";

.card {
  position: relative;

  /* Variants */

  &[data-variant="callout"] {
    background: var(--color-black);
    background-image: linear-gradient(
      to right,
      var(--color-black),
      rgb(15 23 42 / 50%) /* gray-900/50 */,
      var(--color-black)
    );
    border-bottom: 1px solid var(--color-border);
    border-top: 1px solid var(--color-border);
    padding: var(--space-16) var(--space-8);

    @include mixins.screen(sm) {
      padding: var(--space-16) 0;
    }
  }

  &[data-variant="neon"] {
    border-radius: var(--radii-xl);
    overflow: hidden;
    padding: var(--space-0\.5);

    &::before {
      animation: spin 12s linear infinite;
      background: linear-gradient(
        to bottom right,
        var(--color-blue-600),
        var(--color-black),
        var(--color-red-600)
      );
      content: "";
      filter: blur(var(--blur-xl));
      height: 100%;
      margin: auto;
      position: absolute;
      width: 100%;
    }

    & > div {
      background: var(--color-black);
      border-radius: var(--radii-xl);
      padding: var(--space-12);
      position: relative;
      z-index: var(--z-index-10);

      &::before {
        animation: spin 12s linear infinite;
        background: linear-gradient(
          to bottom right,
          var(--color-blue-600),
          var(--color-black),
          var(--color-red-600)
        );
        border-radius: var(--radii-xl);
        content: "";
        filter: blur(var(--blur-3xl));
        height: 100%;
        margin: auto;
        opacity: 0.2;
        position: absolute;
        width: 100%;
      }

      @include mixins.screen(sm) {
        & {
          padding: var(--space-16);
        }
      }
    }
  }

  &[data-variant="plain"] {
    background: linear-gradient(
      to bottom right,
      var(--color-border),
      var(--color-black)
    );
    border: 1px solid var(--color-border);
    border-radius: var(--radii-lg);
    padding: var(--space-10);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
