button,
.button {
  align-items: center;
  background-color: var(--color-white);
  border: var(--border-md);
  box-shadow: var(--box-shadow-md);
  color: var(--color-black);
  display: flex;
  flex-grow: 1;
  font-size: var(--font-size-md);
  gap: var(--space-2);
  padding: var(--space-3) var(--space-8);
  text-decoration: none;
  text-transform: uppercase;
  transition:
    box-shadow var(--transition),
    transform var(--transition);

  & svg {
    height: var(--space-5);
    width: var(--space-5);
  }

  &:disabled {
    opacity: 0.75;
  }

  &:not(:disabled):hover {
    box-shadow: none;
    color: var(--color-black);
    transform: translate(2px, 2px);
  }

  @media (width >= 640px) {
    flex-grow: 0;
  }

  @media (width >= 768px) {
    box-shadow: var(--box-shadow-lg);

    &:not(:disabled):hover {
      box-shadow: none;
      transform: translate(4px, 4px);
    }
  }
}
