input,
textarea {
  align-items: center;
  background-color: var(--color-white);
  border: var(--border-md);
  box-shadow: var(--box-shadow-md);
  color: var(--color-black);
  display: flex;
  font-size: var(--font-size-md);
  gap: var(--space-2);
  padding: var(--space-1) var(--space-2);
  transition:
    box-shadow var(--transition),
    transform var(--transition);

  &:disabled {
    opacity: 0.75;
  }

  &:focus {
    border-color: var(--color-blue-700);
    box-shadow: none;
    outline: none;
    transform: translate(2px, 2px);
  }

  &::placeholder {
    color: var(--color-gray-500);
  }
}

label {
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-medium);
  text-transform: uppercase;
}
