@import "./preflight.css";
@import "./variables.css";

/* Components */
@import "./button.css";
@import "./forms.css";
@import "./layout.css";
@import "./typography.css";
@import "./visuals.css";

body {
  background-color: var(--color-blue-200);
  background-image: linear-gradient(
    to bottom,
    var(--color-white),
    var(--color-blue-200),
    var(--color-white)
  );
  color: var(--color-gray-800);
  font-family: var(--font-family-sans);
  font-size: var(--font-size-xl);
  line-height: var(--line-height-xl);
  text-wrap: balance;
}

iframe {
  max-width: 100%;
}
