a {
  color: var(--color-blue-700);
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}

h1,
.h1 {
  font-family: var(--font-family-serif);
  font-size: var(--font-size-7xl);
  line-height: var(--line-height-8xl);

  &.text-shadow {
    text-shadow: 3px 3px 0 var(--color-black);
  }

  @media (width >= 768px) {
    font-size: var(--font-size-8xl);
    line-height: var(--line-height-8xl);
  }
}

h2,
.h2 {
  font-family: var(--font-family-serif);
  font-size: var(--font-size-4xl);
  line-height: var(--line-height-4xl);
  text-transform: uppercase;

  &.text-shadow {
    text-shadow: 2px 2px 0 var(--color-black);
  }

  @media (width >= 768px) {
    font-size: var(--font-size-6xl);
    line-height: var(--line-height-6xl);
  }
}

h3,
.h3 {
  font-family: var(--font-family-serif);
  font-size: var(--font-size-2xl);
  line-height: var(--line-height-2xl);
  text-transform: uppercase;

  &.text-shadow {
    text-shadow: 1px 1px 0 var(--color-black);
  }

  @media (width >= 768px) {
    font-size: var(--font-size-3xl);
    line-height: var(--line-height-3xl);
  }
}

.text-decoration {
  &::before {
    content: "~";
    display: inline;
  }

  &::after {
    content: "~";
    display: inline;
  }
}
