@use "~/ui/mixins.scss";

.hard-skill-logo {
  height: var(--space-8);
  width: var(--space-8);

  @include mixins.screen(md) {
    & {
      height: var(--space-10);
      width: var(--space-10);
    }
  }
}
