.logo-link {
  & svg {
    fill: var(--color-gray-300);
    max-height: var(--space-8);
    max-width: 160px;
    transition: transform 0.15s ease-in;
    width: 100%;
  }

  &:hover {
    & svg {
      fill: var(--color-gray-100);
      transform: translateY(0.125rem);
    }
  }
}
