.form-protection {
  height: var(--space-16);
  position: relative;

  & div[id="cf-turnstile"] {
    align-items: center;
    display: flex;
    inset: 0;
    justify-content: center;
    position: absolute;
    width: 100%;
    z-index: var(--z-index-50);
  }
}
