.text-area {
  & p {
    color: var(--color-gray-400);
    font-size: var(--font-size-xs);
    margin-top: var(--space-1);
    text-align: right;
  }

  & textarea {
    border: 1px solid var(--color-gray-400);
    border-radius: var(--radii-md);
    color: var(--color-gray-800);
    display: block;
    padding: var(--space-2) var(--space-3);
    width: 100%;

    &:focus {
      border-color: var(--color-gray-500);
      box-shadow: 0 0 0 3px var(--color-gray-500);
      outline: none;
    }

    &::placeholder {
      color: var(--color-gray-400);
    }
  }
}
