@use "../mixins.scss";

.h1 {
  color: var(--color-white);
  font-family: var(--font-family-serif);
  font-size: var(--font-size-6xl);
  line-height: var(--line-height-6xl);
}

.h2 {
  color: var(--color-gray-100);
  font-family: var(--font-family-serif);
  font-size: var(--font-size-5xl);
  line-height: var(--line-height-5xl);
}

.h3 {
  color: var(--color-gray-100);
  font-family: var(--font-family-serif);
  font-size: var(--font-size-2xl);
  line-height: var(--line-height-2xl);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@include mixins.screen(md) {
  .h1 {
    font-size: var(--font-size-8xl);
    line-height: var(--line-height-8xl);
  }

  .h2 {
    font-size: var(--font-size-6xl);
    line-height: var(--line-height-6xl);
  }

  .h3 {
    font-size: var(--font-size-3xl);
    line-height: var(--line-height-3xl);
  }
}
