@import "./preflight.css";
@import "./variables.css";

/* Components */
@import "./button.css";
@import "./forms.css";
@import "./layout.css";
@import "./typography.css";
@import "./visuals.css";

body {
  background-color: var(--color-blue-600);
  background-image: radial-gradient(
    var(--color-blue-500) 1px,
    var(--color-blue-600) 1px
  );
  background-size: var(--space-4) var(--space-4);
  color: var(--color-white);
  font-family: var(--font-family-sans);
  font-size: var(--font-size-xl);
  line-height: var(--line-height-xl);
  text-wrap: balance;
}

iframe {
  max-width: 100%;
}
