.accordion-item {
  padding: var(--space-2) var(--space-4);
  width: 100%;

  button {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: var(--space-1) 0;
    width: 100%;

    span {
      font-weight: var(--font-weight-bold);
    }

    svg {
      color: var(--color-gray-400);
      transition: transform 0.15s ease-in;
    }

    &[data-state="open"] > svg {
      transform: rotate(180deg);
    }

    &[data-state="closed"] {
      &:hover {
        span {
          color: var(--color-gray-400);
        }

        svg {
          color: var(--color-gray-500);
        }
      }
    }
  }

  div {
    border-top: 1px dotted var(--color-gray-400);
    padding: var(--space-2) 0;
  }
}
