.button {
  align-items: center;
  border-radius: var(--radii-lg);
  border-width: 1px;
  display: flex;
  flex-shrink: 0;
  gap: var(--space-2);
  position: relative;
  z-index: var(--z-index-10);

  &:disabled {
    opacity: 0.75;
  }

  /* Sizes */

  &[data-size="sm"] {
    font-size: var(--font-size-sm);
    padding: var(--space-2) var(--space-6);

    & svg {
      height: var(--space-4);
      width: var(--space-4);
    }
  }

  &[data-size="md"] {
    font-size: var(--font-size-base);
    padding: var(--space-3) var(--space-8);

    & svg {
      height: var(--space-5);
      width: var(--space-5);
    }
  }

  /* Variants */

  &[data-variant="primary"] {
    background-color: var(--color-gray-200);
    border-color: transparent;
    color: var(--color-gray-800);

    &::before {
      background-color: var(--color-gray-200);
      content: "";
      filter: blur(var(--blur));
      inset: 0;
      opacity: 0;
      position: absolute;
      transition-duration: 300ms;
      transition-property: opacity;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      z-index: calc(-1 * var(--z-index-10));
    }

    &:not(:disabled):hover {
      color: var(--color-gray-900);

      &::before {
        opacity: 1;
      }
    }
  }

  &[data-variant="secondary"] {
    border-color: var(--color-gray-400);
    color: var(--color-gray-200);
    transition-duration: 300ms;
    transition-property: border-color, color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:not(:disabled):hover {
      border-color: var(--color-gray-100);
      color: var(--color-gray-100);
    }
  }

  &[data-variant="tertiary"] {
    border-color: transparent;
    text-decoration: underline;
    text-decoration-color: transparent;
    transition-duration: 150ms;
    transition-property: text-decoration-color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:not(:disabled):hover {
      text-decoration-color: inherit;
    }
  }
}
