@font-face {
  font-family: "Fira Sans";
  font-weight: 900;
  src: url(../../public/fonts/FiraSans/FiraSans-Black.ttf);
}

@font-face {
  font-family: "Merriweather";
  src: url(../../public/fonts/Merriweather/Merriweather-Regular.ttf);
}

@font-face {
  font-family: "Merriweather";
  font-weight: bold;
  src: url(../../public/fonts/Merriweather/Merriweather-Bold.ttf);
}
